@font-face {
  font-family: "Lemon Milk";
  src: url("fonts/Lemon Milk/LEMONMILK-regular.otf");
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/Inter-Regular-slnt=0.ttf");
}
body {
  font-family: Inter;
  height: 100vh;
  background-color: #ff0e4e;
  margin: 0;
}
.bluetext{
    color: #2685ba;
}

.nomAppli {
  font-family: Lemon Milk;
  width: 40%;
  text-shadow: -3px 0px 1px #2685ba;
  color: white;
  font-size: 3em;
  margin-left: 10px;
}

h1, h2 {
  color: #ff0e4e;
  padding-top: 20px;
  font-weight: bolder;
}

h3 {
  color: #2685ba;
  font-weight: bolder;
}
.login-body, .inscription-body {
  text-align: center;
}
.inputLogin, .inputInscription {
  margin-top: 10px;
  width: 80%;
  height: 10%;
  border: 2px solid #ff0e4e;
  border-radius: 20px;
  font-size: 1.2em;
  color: #2685ba;
  text-align: center;
}

.inputInscription[type=password], .inputLogin[type=password] {
  margin-bottom: 20px;
}

.inputLogin::placeholder, .inputInscription::placeholder {
  color: #2685ba;
  text-align: center;
}
.login-form, .inscription-form {
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  height: 402px;
}
.buttonSubmitLogin, .buttonSubmitInscription, .NewParty {
  margin-top: 10px;
  border-radius: 10px;
  width: 60%;
  height: 30px;
  padding: 6px;
  color: white;
  background-color: #ff0e4e;
  border: 0px;
  box-shadow: 4px 4px 20px -4px black;
}

.coRegister, .mpOublie {
  font-size: 0.8em;
  color: #2685ba;
  padding-top: 20px;
  text-decoration: none;
}

.submitCheck {
  width: 178px;
  height: 32px;
  margin: auto;
  padding-top: 0px;
  background-color: #2685ba;
  padding-left: 2px;
  padding-top: 8px;
  border-radius: 3px;
}

button[type=submit] {
  border: 0;
  background-color: transparent;
  font-size: 24px;
  margin-top: 50px;

.cell {
    border-width: 0.2rem;
    border-style: solid;
    border-color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
    color: black;
    background-color: white;
}

.cell:hover {
    border-color: #029EE6;
}


.image {
    width: auto;
    height: 15rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.name {
    text-align: center;
    font-size: 3rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-family: Punk;
}

.description {
    float: right;
    text-align: justify;
    vertical-align: middle;
    height: auto;
    font-family: Candara;
}

.header {
    height: 10rem;
    width: auto;
    margin-bottom: 2rem;
    justify-content: space-between;
    background-color: #ff0e4e;
    padding-bottom: 1rem;

}
.shop {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2.5%;
    font-size: 4rem;
    font-family: "Lemon Milk";
}
.profil{
    width: auto;
    height: auto;
}
.grid-footer{
    text-align:center;
}
.imagefooter:hover{
    background-color: #ff0e4e;
}
@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .shop {
        text-align: right;
    }

    .header {
        display: flex;
        height: 5rem;
    }

    .header-search {
        position: absolute;
        margin-top: 0.5rem;
        margin-left: 2.5%;
        padding: 0;
    }
}

@media only screen and (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .shop {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*# sourceMappingURL=style.css.map */
