$yellow : #f3d65f;
$blue : #2685ba;
$red : #ff0e4e;

@font-face {
    font-family: "Lemon Milk";
    src: url('client/fonts/Lemon Milk/LEMONMILK-Regular.otf');
}

@font-face {
    font-family: "Inter";
    src: url("client/fonts/Inter/Inter-Regular-slnt=0.ttf");
  }

html,body {
    margin: 0;
    font-family: Inter;
    height: 100vh;
    // text-align: center;
    background-color: $red-color;
}

.navigation {
    background-color: $red;
    display: grid;
    grid-template-columns: 30vw 1fr;
    color: white;
    // padding-top: 2vh;
    // padding-bottom: 2vh;
    font-family: Lemon Milk;
    align-items: center;
}

.navLogo {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 5vw;
}

.navTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    // padding-left: 12vw;
    position:absolute;
    left: 32%;
}

.subTitle {
    color: $blue;
    text-align: center;
    font-family: Lemon Milk;
    margin-top: 5vh;
    margin-bottom: 6vh;
}

hr {
    padding: 0;
    margin-bottom: 0;
    color: $red;
    width: 30vw;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 0.5vh !important;
    height: 1.4px;
    background-color: $red;
    border-top: none;
}

.paragrapheSubTitle {
    margin-bottom: 0 !important;
}

.paragrapheTexte {
    color: $blue;
    padding-left: 10vw;
    padding-right: 10vw;
}

.texte {
    text-align: center;
    font-family: Inter;
    margin-bottom: 6vh;
}

.boutonRouge {
    background-color: $red;
    color: white;
    font-family: Lemon Milk;
    border: none;
    height: 8vh;
    width: 70vw;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 6vh;
}

.conteneurBoutons {
    text-align: center;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: solid 2.5px $red;
    border-bottom: solid 2.5px $red;
    border-right: solid 2.5px $red;
    position: fixed;
    bottom: 0;
}

.imgFooter {
    border-left: solid 2px $red;
    padding-left: 11.1vw;
    padding-right: 11.9vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    grid-column: span 1;
    margin: auto;
}

.imgFooterclicked {
    border-left: solid 2px $red;
    padding-left: 11.1vw;
    padding-right: 11.9vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    grid-column: span 1;
    margin: auto;
    background-color: $red;
}

.gridInfosSoiree {
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    font-family: Inter;
    color: $blue;
    margin: auto;
    text-align: center;
    grid-row-gap: 1vh;
}

.texteInfoSoiree {
    grid-column-start: 1;
    grid-column-end: 2;
    // display: inline-grid;
    font-weight: bold;
}

.inputInfoSoiree {
    grid-column-start: 2;
    grid-column-end: 3;
}

.return {
    margin-top: 0 !important;
}

.returnArrow {
    color: $red;
    margin-left: 3vw;
    padding-top: 2vh;
}

.bricolage {
    font-size: 30px;
}

.conteneurLogos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw !important;
    margin: auto;
    color: $blue;
    font-family: Inter;
}

.logoLivDrive {
    background-color: $red;
    margin: auto;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
    align-items: center;
    display: flex;
}

.contenantLogo1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
}

.contenantLogo2 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

.imgdrive {
    margin: auto;
}

.drive {
    padding-top: 2vh;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
}

.livraison {
    padding-top: 2vh;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

.btnValider {
    background-color: $blue;
    color: white;
    border-radius: 5px;
    border: none;
    width: 42vw;
    height: 4vh;
}

.conteneurValider {
    padding-top: 3vh;
    margin: auto;
    width: 42vw;
}

.bricolage2 {
    font-size: 20px;
}

.red {
    color: red;
    display: inline;
}

.checkIcone {
    background-color: $blue;
    color: white;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:20px;
    height:20px;
    margin-left: 65px;
    margin-top: 30px;
    // top: 50%;
    // position: relative;
}

.check {
    margin-left: 0.5vw;
}

.checkIconeHidden {
    visibility: hidden;
}

.logos {
    margin-bottom: 3vh !important;
}

.inputSoiree {
    border: none;
    border-bottom: 1px solid $blue;
}

input {
    color: $blue;
    text-align: center !important;
}

.tooltipCircle {
    color: white;
    display: inline-block;
    text-align: center;
    background-color: $red;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    margin-left: 1vw;
  }

.modalHidden {
    visibility: hidden;
    height: 0;
}

.modal {
    width: 80vw;
    height: 30vh;
    color: $blue;
    z-index: 100;
    position: fixed;
    top: 25%;
    left: 8%;
    background-color: white;
    border: 1.5px solid $blue;
    text-align: center;
    vertical-align: middle;
    display: table;
    font-family: Inter;
    padding-left: 2vw;
    padding-right: 2vw;
}

.textModal {
    display: table-cell;
    vertical-align: middle;
}

.closeModal {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    background-color: $red;
    position: absolute;
    bottom: 94%;
    right: -2%;
    color: white;
    text-align: center;
    font-weight: bold;
}

.closeModal:hover {
    cursor: pointer;
}

.cross {
    position: absolute;
    top: 9%;
    left: 28%;
}
